# === INCLUDES EXPLÍCITOS (orden importa) ===
!media/**
!README.md
!LICENSE
!package.json
!media/**


# === EXCLUSIONES GENERALES ===
.vscode-test/**
.vscode/**
coverage/**
dist/**
node_modules/**
scripts/**
src/**
test/**
tests/**

# === ARCHIVOS SUELTOS ===
.eslintrc.*
.gitignore
.prettier*
*.log
*.map
*.vsix
eslint.config.*
tsconfig.*
